<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>地震预警信息发布平台</title>
  <% if (htmlWebpackPlugin.options.appModules) { %>
  <!-- Add `app/node_modules` to global paths so `require` works properly in development -->
  <script>
    require('module').globalPaths.push('<%= htmlWebpackPlugin.options.appModules.replace(/\\/g, '\\\\') %>')
  </script>
  <% } %>
</head>
<body style="margin: 0;padding: 0;">
<div id="app"></div>
<!--<script src="http://webapi.amap.com/maps?v=1.3&key=c7357362d8a8126d2fdb40806683b96a"></script>-->
<!-- webpack builds are automatically injected -->
</body>
</html>
