@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1488634469524'); /* IE9*/
    src: url('iconfont.eot?t=1488634469524#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff?t=1488634469524') format('woff'), /* chrome, firefox */ url('iconfont.ttf?t=1488634469524') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont.svg?t=1488634469524#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-liangdu:before {
    content: "\3464";
}

.icon-liangdu1:before {
    content: "\e63f";
}

.icon-jiajian02:before {
    content: "\e626";
}

.icon-restart:before {
    content: "\e753";
}

.icon-liangdudiaozheng:before {
    content: "\e63d";
}

.icon-yanse:before {
    content: "\e6ce";
}

.icon-jia:before {
    content: "\e61f";
}

.icon-jian:before {
    content: "\e620";
}

.icon-zhongqi1:before {
    content: "\e64a";
}

.icon-zhongqi2:before {
    content: "\e64b";
}

.icon-lnicon35:before {
    content: "\e627";
}

.icon-yk-arrow-up:before {
    content: "\e676";
}

.icon-yk-arrow-right:before {
    content: "\e679";
}

.icon-yk-arrow-left:before {
    content: "\e67b";
}

.icon-yk-arrow-down:before {
    content: "\e67c";
}

.icon-youshang:before {
    content: "\e63e";
}

.icon-youxia:before {
    content: "\e640";
}

.icon-zuoshang:before {
    content: "\e641";
}

.icon-zuoxia:before {
    content: "\e642";
}

.icon-restart1:before {
    content: "\e631";
}

